.user-nav-container {
  display: flex;
  align-items: center;
  height: 48px;
  background-color: #101010;
}

.user-nav-buttons {
  display: flex;
  width: 80%;
  margin: auto;
  text-align: center;
  justify-content: space-between;
}

.home-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 30%;
}

.you-explore {
  color: whitesmoke;
  padding: 10px;
  margin-left: 20px;
}

.you-explore:hover {
  opacity: 0.7;
}

.user-links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 30%;
}

.photo-index {
  margin: auto;
  width: 80%;
}

.photo-index h3 {
  font-size: 1.5rem;
  line-height: 1.875rem;
  margin-top: 24px;
  margin-bottom: 5px;
  color: #484848;
}

.profile-upload-container {
  display: flex;
  width: 90px;
  align-items: center;
  justify-content: space-between;
}

.profile-upload-container a:hover {
  opacity: 0.7;
}