.auth-form {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  border-radius: 0.25rem;
  width: 304px;
  background-color: white;
  align-items: center;
  justify-content: center;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.auth-form img {
  min-height: 0 !important;
  height: 24px !important;
  width: 24px !important;
  margin-bottom: 20px;
  border-radius: 5px;
}

.auth-form input {
  width: 302px;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  line-height: 1rem;
  color: #212124;
  border-radius: 0.25rem;
  border: 1px solid dimgray;
  padding: 1rem 1rem 1rem 1rem;
  box-sizing: border-box;
  margin-top: 0.5rem;
  font-family: Proxima-Nova;
  height: 55px;
}

.auth-form h6 {
  display: block;
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  color: #101010;
}

.auth-form p {
  text-align: center;
  font-size: 0.875rem;
  width: 100%;
}

.auth-form a {
  color: #006dac;
}

input.auth-button {
  background-color: #128fdc;
  font-weight: 600;
  color: white;
  font-size: 0.875rem;
  border: none;
  font-family: Helvetica, sans-serif;
  height: 40px;
  line-height: 50%;
}

input.button-separator {
  margin-top: 32px;
}

.auth-button:hover {
  cursor: pointer;
  box-shadow: inset 0 0 0 10em rgba(255, 255, 255, 0.1);
}

.line-separator {
  height: 0.1px;
  background-color: #e3e3e3;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 270px;
}

.errors {
  color: red;
}