.show-container {
  height: 70vh;
  max-height: 800px;
  background-color: #212124;
  padding: 50px 0 50px 0;
  position: relative;
}

.bottom-half {
  background-color: #f3f5f6;
  padding-bottom: 5vh;
}

.link-explore a {
  color: white;
  font-size: 14px;
  left: 20px;
  top: 18px;
  position: absolute;
}

.link-explore a:hover {
  text-decoration: underline;
}

.left-arrow {
  transform: translateY(20%);
  font-size: 16px;
  padding-right: 7px;
}

.show-container img {
  display: block;
  margin: auto;
  height: 100%;
}

.show-left-half {
  width: 50%;
  min-width: 300px;
  max-width: 500px;
}

.show-attributes {
  display: flex;
  width: 55vw;
  margin: 0 auto 0 auto;
  min-height: 55px;
}

.show-user-profile {
  padding-top: 26px;
  display: flex;
}

.show-user-profile a {
  color: #212124;
  font-size: 20px;
  font-weight: 600;
  padding-left: 5px;
  line-height: 1;
  position: relative;
  top: 5px;
  padding-bottom: 4px;
}

.show-user-profile h1 {
  color: #212124;
  word-wrap: break-word;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  margin: 20px 0 10px 0;
  padding-left: 5px;
  min-height: 18px;
}

.show-user-profile a:hover {
  text-decoration: underline;
}

.profile-pic {
  height: 100%;
  width: 60px;
  margin-right: 10px;
}

.photo-details p {
  color: #212124;
  padding-left: 5px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.comment-line-separator {
  background-color: #cfd6d9;
  height: 0.1px;
  padding-left: 5px;
  margin: 20px 0 20px 75px;
}

.show-right-half {
  width: 50%;
  min-width: 300px;
  max-width: 500px;
}

.photo-stats {
  display: flex;
  width: 100%;
  padding-top: 26px;
}

.photo-stats-left {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
}

.like-button {
  display: block;
  margin-left: auto;
  width:fit-content;
  padding: 6px;
  margin-right: 6px;
  margin-top: 6px;
}

.like-button:hover {
  cursor: pointer;
}

.photo-stats h1 {
  font-size: 20px;
  font-weight: 400;
  line-height: 18px;
}

.photo-stats-left span {
  font-size: 14px;
  font-weight: 400;
  color: #898989;
}

.photo-stats-date {
  font-size: 16px;
  font-weight: 400;
}

.photo-stats-separator {
  background-color: #cfd6d9;
  height: 0.1px;
  width: 90%;
  margin: 20px 0 20px auto;
}