.search-bar-container {
  width: 50%;
}

.search-bar {
  background-color: hsla(0, 0%, 100%, 0.8);
  border-radius: 2px;
  box-sizing: border-box;
  height: 33px;
  margin: 0 9px 0 0;
  width: 225px;
  font-size: 14px;
  line-height: 20px;
  padding: 6px 0;
  padding-left: 6px;
  resize: none;
  font-weight: 400;
}
