.photo-form-page {
  display: flex;
  background-color: #666;
  height: calc(100vh - 48px);
}

.photo-form-sidebar {
  width: 240px;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  max-width: 825px;
}
