.comment-form {
  display: flex;
  width: 100%;
  margin: 5px;
  min-height: 32px;
  padding: 5px 0 5px 10px;
  margin-left: 20px;
  transition: background-color 0.15s ease-in-out;
  box-sizing: border-box;
  color: #212124;
}

.comment-form form {
  width: calc(100% - 72px);
}

.comment-form textarea {
  width: 100%;
  max-width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 6px 10px;
  font-size: 0.875rem;
  line-height: 1.5;
  box-sizing: border-box;
  border-radius: 3px;
  resize: none;
  border: 0.5px solid dimgray;
  overflow: auto;
}

.comment-form textarea:focus-visible {
  border: 1px solid #1372e8;
}