.photo-form-page {
  display: flex;
  background-color: rgba(0, 0, 0, 0.8);
  height: calc(100vh - 48px);
  position: relative;
}

.photo-form-sidebar {
  margin-left: 10px;
  min-width: 250px;
  background: rgba(0, 0, 0, 0.5);
  height: calc(100% - 16px);
  border-radius: 6px;
  font-size: 12px;
  line-height: 18px;
  padding: 0px 16px 0px 16px;
  margin-top: 8px;
}

.photo-form-title {
  padding: 10px 10px 0px 0;
  margin-top: 10px;
}

.photo-form-title h1 {
  font-size: 24px;
  color: #999;
  font-weight: 300;
}

.photo-form-container {
  width: 100%;
  position: relative;
}

.photo-form-container input {
  font-size: 16px;
  padding: 5px;
  width: calc(100% - 13px);
  margin-bottom: 10px;
  font-weight: 600;
  line-height: 16px;
  box-shadow: inset 0 0 0 1px #9ea4a7;
}

.photo-form-container textarea {
  padding: 5px;
}

textarea {
  resize: none;
}

.photo-form-title-input {
  margin-top: 20px;
  margin-bottom: 20px;
}

.photo-preview {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  width: 100%;
  margin-right: 220px;
  box-sizing: border-box;
  padding-top: 10px;
}

.photo-preview img {
  display: block;
  width: 50%;
  height: 100%;
  box-sizing: border-box;
}

.file-input-box {
  position: absolute;
  width: 400px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 52.5%;
  transform: translate(-50%, -50%);
}

.file-input-box img {
  width: 100%;
  height: 100%;
} 

.file-input-box input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.file-input-box-label {
  text-align: center;
  color: white;
  font-weight: 600;
  font-size: 24px;
}

.file-input-box-label p {
  position: relative;
  transform: translateY(-200%);
}

.move-box-position {
  top: 62.5%;
  left: 52.5%;
}