.photo-form-page {
  display: flex;
  background-color: #666;
  height: calc(100vh - 48px);
}

.photo-form-sidebar {
  margin-left: 10px;
  width: 240px;
  background: rgba(0, 0, 0, 0.5);
  height: 99%;
}
